<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login page</title>
  </head>

  <body>
    <div class="container">
      <div class="container-form">
        <form class="sign-in">
          <h2>Iniciar sesión</h2>
          <div class="social-networks">
            <ion-icon name="fitness-outline"></ion-icon>
          </div>
          <span>Use su correo y contraseña</span>
          <div class="container-input">
            <ion-icon name="mail-open-outline"></ion-icon>
            <input type="text" placeholder="Correo" />
          </div>
          <div class="container-input">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="text" placeholder="Contraseña" />
          </div>
          <a href="#">¿Olvidaste tu contraseña?</a>
          <button type="button" class="button" id="btn-login-submit">
            Iniciar sesión
          </button>
        </form>
      </div>
      <div class="container-form">
        <form class="sign-up"></form>
      </div>
      <div class="container-welcome">
        <div class="welcome-sign-up welcome">
          <h3>Bienvenido a Farmacia Génesis</h3>
        </div>
        <div class="welcome-sign-in welcome"></div>
      </div>
    </div>
    <footer class="footer">Farmacia Génesis-Jinotepe</footer>
  </body>
</html>
