<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/css/components/sidebar.css" />
  </head>
  <body>
    <nav class="sidebar" id="main-sidebar">
      <div class="sidebar-header">
        <div class="logo-container">
          <i class="fa-solid fa-plus logo-icon"></i>
        </div>
        <div class="logo-text">
          <span class="brand-name">FARMACIA</span>
          <span class="brand-subname">GÉNESIS</span>
        </div>
      </div>

      <ul class="nav-links">
        <li class="nav-item" onclick="loadComponent('inicio')">
          <i class="fa-solid fa-house"></i>
          <span class="link-name">Inicio</span>
        </li>
        <li class="nav-item" onclick="loadComponent('ventas')">
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="link-name">Ventas</span>
        </li>
        <li class="nav-item" onclick="loadComponent('inventario')">
          <i class="fa-solid fa-table-cells-large"></i>
          <span class="link-name">Inventario</span>
        </li>
        <li class="nav-item" onclick="loadComponent('reportes')">
          <i class="fa-solid fa-chart-column"></i>
          <span class="link-name">Reportes</span>
        </li>
        <li class="nav-item" onclick="loadComponent('catalogos')">
          <i class="fa-solid fa-cubes"></i>
          <span class="link-name">Catálogos</span>
        </li>
        <li class="nav-item" onclick="loadComponent('ajustes')">
          <i class="fa-solid fa-gear"></i>
          <span class="link-name">Ajustes</span>
        </li>
      </ul>
    </nav>
  </body>
</html>
